* {
    margin: 0px;
    padding: 0px;
}
.btnDesplegable {
    height: 100vh;
    width: 6%;
    position: fixed;
    transition: transform 0.5s ease;
    z-index: 1;
}
.cajas {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cajas:hover{
    background-color: #87ceeb;
}
.cajas:nth-child(n+2) {
    flex-direction: column;
}
.cajas:last-child {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 2vh;
}
.cajas i {
    font-size: 4vh;
    padding: 0.2vh;
}
.cajas h1 {
    font-size: 2.5vh;
    padding: 0.2vh;
    text-align: center;
}
.navMasContenido {
    /*width: 94vw;*/
    width: 100%;

    /*margin-left: 6%;*/

}
.navegador {
    height: 12vh;

    display: flex;
    justify-content: space-around;
}
.imagen {
    width: 12wh;
    height: 100%;
}
.imagen img {
    width: 100%;
    height: 100%;
}
.datos {
    display: flex;
    align-items: center;
}

.Aparecer {
    transform: translateX(0);
}